.pick {
    width: 250px;
    margin-bottom: 32px;
    padding-bottom: 2%;
}

.pick .cabecalho {
    background-color:  #adafaf;
    border-radius: 10px 10px 0px 0px;
}
.pick img {
    width: 100px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
}

.pick .rodape {
    background: #000;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 60px;
    padding-bottom: 20px;
}

.pick .rodape h4 {
    color: #FFF;
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
}

.pick .rodape h5 {
    font-size: 20px;
    color: #FFF;
    margin: 10px;
}

.pick .rodape h6 {
    font-size: 18px;
    color: #FFF;
    margin: 10px 0;
}